*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.debug{
    border: 1px solid white;
}
/* height and widths */
.h100{
    height: 100%;
}
/* padding and margins*/
.mx-30{
    margin-right: 30px;
    margin-left: 30px;
}
#px-5{
    padding-left: 5px;
    padding-right: 5px;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* text colors and utilities */
.text-white{
    color: var(--color-white);
}
.text-grey{
    color: var(--color-grey);
}
.text-center{
    text-align: center;
}
.font-size-small{
    font-size: 0.8em;
}
.font-weight-bolder{
    font-weight: 900;
}
/* lists */
ul{
    list-style: none;
}
li a{
    text-decoration: none;
    color: var(--color-grey);
}
/* buttons */
.btn{
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px 10px;
}
.btn:hover{
    cursor: pointer;
}
/* general utilities */
.green-border-horizontal{
    border: 1px solid var(--color-highlight);
    width: 35%;
    margin-top: 3px;
}
img{
    width: 100%;
    display: block;
}
.bar{
    background-color: var(--color-grey);
    border-radius: 20px;
    width: 100%;
}
.bar-played{
    border: 2px solid var(--color-light-grey);
    border-radius: 20px;
    width: 20%;
}
/* flex */
.d-flex{
    display: flex;
    flex-flow: row nowrap;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
    align-content: center;
}
.aling-end{
    align-items: end;
    align-content: end;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.stretch{
    align-items: stretch;
    align-content: stretch;
}
/* container */
.wrapper{
    width: 100%;
    height: 100vh;
}
#call-to-action{
    background-color: rgba(0, 0, 0, 0.452);
    height: 80px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 9999;
}
#playbar{
    background-color: var(--color-dark-grey);
    height: 90px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
}
main{
    height: calc(100% - 90px);
    width: 100%;
}
#sidebar{
    background-color: var(--color-black);
    width: 250px;
    height: 100%;
}
#main-content{
    background-color: var(--color-dark-color);
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    padding: 100px 10px 10px 10px;
    color: var(--color-white);
}
/* call-to-action */
#call-to-action .btn{
    width: 200px;
}
#call-to-action .btn:hover{
    transform: scale(1.1);
}
/* sidebar */
#sidebar{
    overflow-y: auto ;
}
.logo-container{
    width: 70%;
}
.icon-container{
    width: 17%;
    padding-right: 5px;
}
.icon-container img{
    opacity: 0.5;
}

.lateral-buttons{
    padding-bottom: 50%;
}
.lateral-buttons-top li, .lateral-buttons-bottom li{
    padding: 10px 0;
}
.lateral-buttons-top a{
    padding: 0px 15px;
}
.home{
    color: var(--color-white);
}
.highlighted{
    border-left: 5px solid var(--color-highlight);
}
.fa-square-plus{
    font-size: 3em;
    padding-right: 8px;
}
#sidebar li:hover a{
    color: var(--color-white);
}
#sidebar li:hover img{
    opacity: 1;
}
.home img{
    opacity: 1;
}


/* main-content */
#main-content ul{
    padding-bottom: 30px;
}
#main-content li{
    padding: 0px 15px;
}
#main-content a:hover{
    color: var(--color-white);
}
.col{
    width: calc(100% / 6 - 20px);
}
.cover-container, .cover-container-rounded{
    position: relative;
}
.row-2{
    width: calc(100% / 3 + 20px);
}
.col-2{
    width: calc(100% / 2);
}
.cover-container-rounded img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.col:hover, .col-2:hover{
    cursor: pointer;
}
.play-button{
    display: none;
    position: absolute;
    top: 36%;
    left: 37%;
}
.col:hover .cover-container img, .col-2:hover .cover-container img{
    opacity: 0.5;
}
.col-2:hover .cover-container-rounded img{
    opacity: 0.5;
}
.col:hover .play-button, .col-2:hover .play-button{
    display: block;
}
.fa-regular.fa-circle-play{
    font-size: 4.5em;
}
/* playbar */
.song-playing{
    width: 300px;
}
.cover-container-playbar{
    width: 20%;
}
.fa-circle-play.icons{
    font-size: 2.2em;
}
.icons{
    font-size: 1.2em;
    padding: 3px 15px;
}
.play-bar{
    width: 600px;
}
.duration{
    padding-top: 0;
}
.volume{
    width: 300px;
}
.cover-text-playbar a{
    text-decoration: none;
}
.cover-text-playbar a:hover{
    color: var(--color-white);
    text-decoration: underline;
}
.like .fa-regular.fa-heart:hover, .like .fa-regular.fa-folder:hover{
    cursor: pointer;
    color: var(--color-white);
}
.fa-solid.icons:hover{
    cursor: pointer;
}
.fa-circle-play.icons:hover{
    cursor: pointer;
    transform: scale(1.2);
}